                <div class="row">   
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Главная страница адмики
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Админка
                            </li>
                        </ol>
                        <p>Сегодня: <%= @time.strftime("%Y/%M/%d") %></p>
                    </div>
                </div>