<%= title @contacts.title %>
<% description @contacts.description %>
<% keywords @contacts.keywords %>

<a href="/" id="sitelogo"></a>
    <a href="/" id="mobilelogo" style="display:none;"></a>
    <section id="about" class="wrapper group center">
    	<h1><%= @contacts.title %></h1>
        	<div class="inside scrollpane">
            	<%= @contacts.body.html_safe %>
                        <form id="ajax_form">
                        	<input type="text" name="name" placeholder="Имя">
                            <input type="tel" name="tel" placeholder="Телефон">
                            <textarea placeholder="Сообщение" name="message"></textarea>
                            <button type="submit" class="gradient">Отправить</button>
                        </form>
            </div>
    </section>