<% title @about.title %>
<% description @about.description %>
<% keywords @about.keywords %>

<a href="/" id="sitelogo"></a>
    <a href="/" id="mobilelogo" style="display:none;"></a>
    <section id="about" class="wrapper group center">
    	<h1><%= @about.title %></h1>
        	<div class="inside scrollpane">
            	<%= @about.body.html_safe %>
            </div>
    </section>
